<template>
    <CustomTable title="Ordenes">
      <template v-slot:tools>
        <v-btn icon>
          <v-icon>mdi-plus</v-icon>
          <CreateOrderModal></CreateOrderModal>
        </v-btn>
      </template>
      <template v-slot:headers>
        <th v-for="(header, key) in headers">
          {{ header.title }}
        </th>
      </template>
      <template v-slot:fields>
        <tr v-for="(item, key) in items" :key="key">
          <td>{{ item.id }}</td>
          <td>{{ item.supplier }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.saleTotal }}</td>
        </tr>
      </template>
    </CustomTable>
  </template>
  <script>
  import CustomTable from '../../componentes/Table'
  import CreateOrderModal from '../../componentes/Modals/CreateOrderModal'
  
  export default {
    name: 'index.orders',
    components: {
      CustomTable,
      CreateOrderModal
    },
    data() {
      return {
        items: [],
        headers: [],
      }
    },
    mounted() {
      this.loadOrders()
    },
    methods: {
      loadOrders() {
        axios.get('/api/admin/orders')
          .then(response => {
            var data = response.data
            this.items = data.data.map(function (order) {
                var totalSale = 0
                var quantityTotal = 0
                order.products.forEach(function (product) {
                    quantityTotal += product.pivot.quantity
                    totalSale += (product.pivot.price * product.pivot.quantity)
                })
                order.price = totalSale
                order.price = quantityTotal
                return {
                    id: order.id,
                    supplier: order.supplier,
                    type: order.type,
                    saleTotal: parseFloat(totalSale).toFixed(2),
                    quantity: quantityTotal 
                }
            })
            this.headers = data.headers
          }).catch(error => {
          })
      },
    }
  }
  </script>