<template>
  <v-btn color="gray" icon small>
    <v-icon>mdi-dots-vertical</v-icon>
    <v-menu location="bottom" activator="parent">
      <v-list>
        <v-list-item key="edit" prepend-icon="mdi-pencil" :to="{ name: 'user.edit', params: { id: userId } }">
          <v-list-item-title>Editar</v-list-item-title>
        </v-list-item>
        <v-list-item key="delete" prepend-icon="mdi-delete" @click="deleteUser">
          <v-list-item-title>Eliminar</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-btn>
</template>

<script>
export default {
  name: 'users.dropdown',
  props: {
    userId: Number
  },
  data() {
    return {
      items: [
        { title: 'Editar', icon: 'mdi-pencil' },
        { title: 'Eliminar', icon: 'mdi-delete' }
      ]
    }
  },
  methods: {
    deleteUser() {
      axios.delete(`/api/admin/users/${this.userId}`)
        .then(response => {
          var data = response.data
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: data.message,
            showConfirmButton: false,
            timer: 3000
          })
          this.$router.go(this.$router.currentRoute)
        }).catch(error => {
          var message = 'No pudimos eliminar el usuario, intentalo de nuevo mas tarde'
          if (error.data && error.data.message) {
            message = error.data.message
          }

          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: message,
            showConfirmButton: false,
            timer: 3000
          })
        })
    },
  }
}
</script>