<template>
    <v-card>
        <v-toolbar>
            <v-toolbar-title>Editar producto</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <v-container>
                <v-form ref="form">
                    <v-text-field 
                      prepend-icon="mdi-shopping"
                      placeholder="Nombre"
                      v-model="name"
                      :rules="nameRules"
                    ></v-text-field>
                    <v-text-field 
                      prepend-icon="mdi-currency-usd"
                      placeholder="Precio de venta"
                      v-model="sellingPrice"
                      :rules="sellingPriceRules"
                    ></v-text-field>
                    <v-text-field 
                      v-model="sku"
                      prepend-icon="mdi-wallet" 
                      placeholder="SKU"
                      :rules="skuRules"
                    ></v-text-field>
                </v-form>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" :to="{name: 'product.index'}">Cancelar</v-btn>
            <v-btn color="primary" @click="update">Editar</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
export default {
    name: 'edit.products',
    mounted () {
        this.loadProduct()
    },
    data () {
        return {
            sku: '',
            name: '',
            sellingPrice: '',
            nameRules: [
                v => !!v || 'El nombre es requerido',
            ],
            skuRules: [
                v => !!v || 'El SKU es requerido',
                v => typeof v !== 'Number' || 'El SKU debe ser numerico'
            ],
            sellingPriceRules: [
                v => !!v || 'El precio de venta es requerido',
                v => typeof v !== 'Number' || 'El precio de venta debe ser numerico'
            ]
        }
    },
    methods: {
        loadProduct() {
            axios.get(`/api/admin/products/${this.$route.params.id}`)
                .then(response => {
                    var data = response.data.data
                    this.sku = data.sku
                    this.name = data.title
                    this.sellingPrice = data.selling_price
                }).catch(error => {

                })
        },
        async update () {
            const { valid } = await this.$refs.form.validate();
            if (!valid) { return }
            axios.put(`/api/admin/products/${this.$route.params.id}`, {
                    sku: this.sku,
                    title: this.name,
                    selling_price: this.sellingPrice,
                }).then(response => {
                    var data = response.data
                    this.$swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }).catch(error => {
                    console.log(error)
                    this.$swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'error',
                        title: error.data.message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                })
        }
    }
}
</script>