<template>
  <CustomTable title="Productos">
    <template v-slot:tools>
      <v-btn icon>
        <v-icon>mdi-plus</v-icon>
        <CreateProductModal></CreateProductModal>
      </v-btn>
    </template>
    <template v-slot:headers>
      <th v-for="(header, key) in headers">
        {{ header.title }}
      </th>
    </template>
    <template v-slot:fields>
      <tr v-for="(item, key) in items" :key="key">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>${{ item.selling_price }}</td>
        <td>{{ item.sku }}</td>
        <td>
          <v-toolbar color="transparent">
            <v-spacer></v-spacer>
            <ProductDropdown :productId="item.id"></ProductDropdown>
          </v-toolbar>
        </td>
      </tr>
    </template>
  </CustomTable>
</template>
<script>
import CustomTable from '../../componentes/Table'
import ProductDropdown from '../../componentes/Dropdown/ProductDropdown'
import CreateProductModal from '../../componentes/Modals/CreateProductModal'

export default {
  name: 'index.products',
  components: {
    CustomTable,
    CreateProductModal,
    ProductDropdown
  },
  data() {
    return {
      items: [],
      headers: [],
      password: '',
    }
  },
  mounted() {
    this.loadProducts()
  },
  methods: {
    loadProducts() {
      var self = this
      axios.get('/api/admin/products')
        .then(function (response) {
          var data = response.data
          self.items = data.data
          self.headers = data.headers
        }).catch(function (error) {

        })
    },
  }
}
</script>