<template>
    <v-card>
        <v-toolbar>
            <v-toolbar-title>Editar usuario</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
            <v-container>
                <v-form ref="form">
                    <v-text-field 
                      prepend-icon="mdi-account"
                      placeholder="Nombre"
                      v-model="name"
                      :rules="nameRules"
                    ></v-text-field>
                    <v-text-field 
                      prepend-icon="mdi-email"
                      placeholder="Correo electronico"
                      v-model="email"
                      :rules="emailRules"
                    ></v-text-field>
                    <v-text-field 
                      v-model="password"
                      prepend-icon="mdi-lock" 
                      placeholder="Contraseña"
                      :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append-inner="showPassword = !showPassword"
                      :rules="passwordRules"
                    ></v-text-field>
                </v-form>
            </v-container>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" :to="{name: 'user.index'}">Cancelar</v-btn>
            <v-btn color="primary" @click="update">Editar</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
export default {
    name: 'edit.users',
    mounted () {
        this.loadUser()
    },
    data () {
        return {
            name: '',
            email: '',
            password: '',
            showPassword: false,
            passwordRules: [
                v => (v.length == 0 || v.length >= 8) || 'La contraseña debe tener una longitud de 8 caracteres o mas'
            ],
            emailRules: [
                v => !!v || 'El correo es requerido',
                v => /.+@.+\..+/.test(v) || 'El correo ingresado no es valido',
            ],
            nameRules: [
                v => !!v || 'El nombre no puede estar vacío',
                v => v.length >= 16 || 'El nombre debe tener 16 caracteres o mas'
            ]
        }
    },
    methods: {
        loadUser() {
            axios.get(`/api/admin/users/${this.$route.params.id}`)
                .then(response => {
                    var data = response.data.data
                    this.name = data.name
                    this.email = data.email
                }).catch(error => {

                })
            this.name = self.name
            this.email = self.email
        },
        async update () {
            const { valid } = await this.$refs.form.validate();
            if (!valid) { return }
            axios.put(`/api/admin/users/${this.$route.params.id}`, {
                    name: this.name,
                    email: this.email,
                    password: this.password
                }).then(response => {
                    var data = response.data
                    console.log(data)
                    this.$swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }).catch(error => {
                    console.log(error)
                    this.$swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'error',
                        title: error.data.message,
                        showConfirmButton: false,
                        timer: 3000
                    })
                })
        }
    }
}
</script>