<template>
  <CustomTable title="Usuarios">
    <template v-slot:tools>
      <v-btn icon>
        <v-icon>mdi-plus</v-icon>
        <CreateUserModal></CreateUserModal>
      </v-btn>
    </template>
    <template v-slot:headers>
      <th v-for="(header, key) in headers">
        {{ header.title }}
      </th>
    </template>
    <template v-slot:fields>
      <tr v-for="(item, key) in items" :key="key">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <v-toolbar color="transparent">
            <v-spacer></v-spacer>
            <UserDropdown :userId="item.id"></UserDropdown>
          </v-toolbar>
        </td>
      </tr>
    </template>
  </CustomTable>
</template>
<script>
import CustomTable from '../../componentes/Table'
import UserDropdown from '../../componentes/Dropdown/UserDropdown'
import CreateUserModal from '../../componentes/Modals/CreateUserModal'

export default {
  name: 'index.users',
  components: {
    CustomTable,
    CreateUserModal,
    UserDropdown
  },
  data() {
    return {
      items: [],
      headers: [],
      password: '',
    }
  },
  mounted() {
    this.loadUsers()
  },
  methods: {
    loadUsers() {
      var self = this
      axios.get('/api/admin/users')
        .then(function (response) {
          var data = response.data
          self.items = data.data
          self.headers = data.headers
        }).catch(function (error) {

        })
    },
  }
}
</script>