<template>
  <v-list-item
    prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
    title="Brian Florian"
    nav
  >
  </v-list-item>

  <v-divider></v-divider>

  <v-list density="compact" nav>
    <v-list-item prepend-icon="mdi:mdi-home-city" title="Home" value="home"></v-list-item>
    <v-list-item prepend-icon="mdi:mdi-account" title="My Account" value="account"></v-list-item>
    <v-list-item prepend-icon="mdi:mdi-account-group-outline" title="Users" value="users"></v-list-item>
  </v-list>
</template>

<script>
export default {
    name: "Navigator",
}
</script>

<style scoped>

</style>