<template>
    <v-container>
        <v-card height="80vh">
            <v-toolbar>
                <v-toolbar-title>{{title ?? ''}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <slot name="tools"></slot>
            </v-toolbar>
            <v-container>
                <v-table fixed-header>
                    <thead>
                        <tr>
                            <slot name="headers"></slot>
                        </tr>
                    </thead>
                    <tbody>
                        <slot name="fields"></slot>
                    </tbody>
                </v-table>
            </v-container>
        </v-card>
    </v-container>
</template>
<script>
export default {
    name: 'custom_table',
    props: {
        title: String,
    },
    data() {
        return {}
    },
}
</script>