<template>
    <v-container>
    </v-container>
</template>

<script>

export default {
    name: "Home",
    data() {
        return {
            icons: [
                'mdi-facebook',
                'mdi-twitter',
                'mdi-linkedin',
                'mdi-instagram',
            ]
        };
    }
}
</script>

<style scoped>

</style>