<template>
  <v-app class="bg-grey-lighten-5">
    <v-container>
      <v-card class="mx-auto" max-width="500">
        <v-card-title class="text-h6 bg-primary font-weight-regular justify-space-between">
          <span>{{ currentTitle }}</span>
        </v-card-title>

        <v-window v-model="step">
          <v-window-item :value="1">
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation  
            >
              <v-card-text>
                <v-text-field v-model="email" label="Email" :rules="emailRules"
                  placeholder="example@cimagroup.com.mx"></v-text-field>
              </v-card-text>
            </v-form>
          </v-window-item>

          <v-window-item :value="2">
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation  
            >
              <v-card-text>
                <v-text-field v-model="email" label="Email" :rules="emailRules"
                  placeholder="example@cimagroup.com.mx" required></v-text-field>
                <v-text-field v-model="password" :rules="passwordRules" label="Password" type="password" required></v-text-field>
              </v-card-text>
            </v-form>
          </v-window-item>
        </v-window>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn v-if="step > 1" variant="text" @click="step--">
            Back
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn v-if="step < 2" color="primary" variant="flat" @click="validate">
            Next
          </v-btn>
          <v-btn v-if="step == 2" color="primary" variant="flat" @click="validate">
            Login
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      valid: true,
      step: 1,
      email: 'bflorian@cimagroup.test',
      emailRules: [
        v => !!v || 'El correo es requerido',
        v => /.+@.+\..+/.test(v) || 'El correo ingresado no es valido',
      ],
      password: '12345678',
      passwordRules: [
        v => !!v || 'La contraseña es requerida',
        v => (v && v.length >= 8) || 'La contraseña debe tener una longitud de 8 caracteres o mas'
      ],
      message: 'Credenciales no validas'
    };
  },
  computed: {
    currentTitle() {
      switch (this.step) {
        default: return 'Login'
      }
    },
  },
  methods: {
    async validate() {
      const { valid } = await this.$refs.form.validate();
      if (valid && this.step == 2) { 
        this.login(); 
        return;
      }
      if (valid) { this.step++; }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    login() {
        this.$store
          .dispatch("retrieveToken", {
            email: this.email,
            password: this.password
          })
          .then(response => {
            this.$router.push({ name: "user.index" });
          })
          .catch(error => {
            var message = 'Error desconocido, por favor intentalo de nuevo mas tarde.'
            if (error.response.status === 400) {
              message = error.response.data.message
            }
            this.$swal.fire({
              toast: true,
              position: 'top-end',
              icon: 'error',
              title: message,
              showConfirmButton: false,
              timer: 3000
            })
          });
      },
  },
}
</script>