<template>
  <v-dialog width="50vw" v-model="dialog" activator="parent">
    <v-card>
      <v-toolbar>
        <v-toolbar-title>Agregar usuarios</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-text-field 
                prepend-icon="mdi-account"
                placeholder="Nombre"
                v-model="name"
                :rules="nameRules"
              ></v-text-field>
              <v-text-field 
                prepend-icon="mdi-email"
                placeholder="Correo electronico"
                v-model="email"
                :rules="emailRules"
              ></v-text-field>
              <v-text-field 
                v-model="password"
                prepend-icon="mdi-lock" 
                placeholder="Contraseña"
                :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append-inner="showPassword = !showPassword"
                :rules="passwordRules"
              ></v-text-field>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="dialog = false">Cerrar</v-btn>
        <v-btn color="success" @click="createUser">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'custom-model',
  props: {
    title: {type: String},
    userId: {type: Number, default: null}
  },
  data() {
    return { 
      dialog: false,
      showPassword: false,
      name: '',
      email: '',
      password: '',
      passwordRules: [
        v => !!v || 'La contraseña es requerida',
        v => (v && v.length >= 8) || 'La contraseña debe tener una longitud de 8 caracteres o mas'
      ],
      emailRules: [
        v => !!v || 'El correo es requerido',
        v => /.+@.+\..+/.test(v) || 'El correo ingresado no es valido',
      ],
      nameRules: [
          v => !!v || 'El nombre no puede estar vacío',
          v => v.length >= 16 || 'El nombre debe tener 16 caracteres o mas'
      ]
    }
  },
  methods: {
    async createUser () {
      const { valid } = await this.$refs.form.validate();
      if (!valid) { return }
      axios.post(`/api/admin/users/`, {
          name: this.name,
          email: this.email,
          password: this.password
        }).then(response => {
          var data = response.data
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: data.message,
            showConfirmButton: false,
            timer: 3000
          })
          this.$router.go(this.$router.currentRoute)
        }).catch(error => {
          var message = 'El usuario no pudo ser registrado, intentalo de nuevo mas tarde'
          if (error.data && error.data.message) {
            message = error.data.message
          }

          this.dialog = false
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: message,
            showConfirmButton: false,
            timer: 3000
          })
        })
    }
  }
}
</script>