<template>
  <v-dialog width="65vw" v-model="dialog" activator="parent">
    <v-card>
      <v-toolbar>
        <v-toolbar-title>Crear orden</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-row>
              <v-col
                cols="12"
                md="8"
              >
              <v-text-field 
                  placeholder="Proveedor"
                  v-model="supplier"
                  :rules="supplierRules"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="4"
              >
              <v-select 
                v-model="type"
                label="Tipo"
                :items="['compra', 'venta']"
                :rules="typeRules"
                required
              ></v-select>
              </v-col>
            </v-row>
            <v-row>

            </v-row>
            <v-row>
              <v-col cols="12" md="4">Nombre</v-col>
              <v-col cols="12" md="2">Cantidad</v-col>
              <v-col cols="12" md="3">Precio Unitario</v-col>
              <v-col cols="12" md="2">Total</v-col>
              <v-col cols="12" md="1"></v-col>
            </v-row>
            <v-row v-for="(product, key) in orderProducts" :key="key">
              <v-col cols="12" md="4">
                  <v-select 
                  v-model="productSelected[key]"
                  :key="increment"
                  label="Producto"
                  :items="products"
                  item-label="title"
                  item-value="id"
                  @update:modelValue="updatePrices(key)"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" md="2">
                <v-text-field v-model="quantity[key]" placeholder="0"></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field v-model="prices[key]" placeholder="0.00"></v-text-field>
              </v-col>
              <v-col cols="12" md="2">
                <v-text-field disabled :label="(parseFloat(quantity[key] ?? 0) * parseFloat(prices[key] ?? 0))+''" placeholder="0.00"></v-text-field>
              </v-col>
              <v-col v-if="increment == key" cols="12" md="1">
                <v-toolbar color="transparent">
                  <v-btn icon @click="addProduct"><v-icon>mdi-plus</v-icon></v-btn>
                </v-toolbar>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="dialog = false">Cerrar</v-btn>
        <v-btn color="success" @click="createOrder">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'order.modal',
  props: {
    title: {type: String},
    orderId: {type: Number, default: null}
  },
  mounted() {
    this.loadProducts()
  },
  data() {
    return { 
      dialog: false,
      increment: 0,
      type: '',
      supplier: '',
      orderProducts: [0],
      products: [],
      productSelected: [],
      quantity: [],
      prices: [],
      total: [],
      supplierRules: [
        v => !!v || 'El proveedor es requerido',
      ],
      typeRules: [
        v => !!v || 'El tipo es requerido',
      ]
    }
  },
  methods: {
    loadProducts() {
      axios.get(`/api/admin/products/`)
        .then(response => {
          var data = response.data
          this.products = data.data
        }).catch(error => {
        })
    },
    updatePrices(key) {
      var productSelected = this.productSelected[key]
      this.prices[key] = this.products.find(element => element.id == productSelected).selling_price
    },
    addProduct() {
      this.increment++
      this.orderProducts.push(this.increment)
    },
    async createOrder () {
      // const { valid } = await this.$refs.form.validate();
      // if (!valid) { return }
      axios.post(`/api/admin/orders/`, {
          supplier: this.supplier,
          type: this.type,
          product_ids: this.productSelected,
          prices: this.prices,
          quantities: this.quantity
        }).then(response => {
          var data = response.data
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: data.message,
            showConfirmButton: false,
            timer: 3000
          })
          this.$router.go(this.$router.currentRoute)
        }).catch(error => {
          var message = 'El producto no pudo ser registrado, intentalo de nuevo mas tarde'
          if (error.data && error.data.message) {
            message = error.data.message
          }

          this.dialog = false
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: message,
            showConfirmButton: false,
            timer: 3000
          })
        })
    }
  }
}
</script>