<template>
  <v-dialog width="50vw" v-model="dialog" activator="parent">
    <v-card>
      <v-toolbar>
        <v-toolbar-title>Agregar productos</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-container>
          <v-form ref="form">
            <v-text-field 
                prepend-icon="mdi-shopping"
                placeholder="Nombre"
                v-model="name"
                :rules="nameRules"
              ></v-text-field>
              <v-text-field 
                v-model="sellingPrice"
                prepend-icon="mdi-currency-usd" 
                placeholder="Precio de venta"
                :rules="sellingPriceRules"
              ></v-text-field>
              <v-text-field 
                prepend-icon="mdi-wallet"
                placeholder="SKU"
                v-model="sku"
                :rules="skuRules"
              ></v-text-field>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="dialog = false">Cerrar</v-btn>
        <v-btn color="success" @click="createProduct">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'product.modal',
  props: {
    title: {type: String},
    productId: {type: Number, default: null}
  },
  data() {
    return { 
      dialog: false,
      name: '',
      sku: '',
      sellingPrice: '',
      nameRules: [
        v => !!v || 'El nombre es requerido',
      ],
      skuRules: [
        v => !!v || 'El SKU es requerido',
        v => typeof v !== 'Number' || 'El SKU debe ser numerico'
      ],
      sellingPriceRules: [
          v => !!v || 'El precio de venta es requerido',
          v => typeof v !== 'Number' || 'El precio de venta debe ser numerico'
      ]
    }
  },
  methods: {
    async createProduct () {
      const { valid } = await this.$refs.form.validate();
      if (!valid) { return }
      axios.post(`/api/admin/products/`, {
          title: this.name,
          sku: this.sku,
          selling_price: this.sellingPrice
        }).then(response => {
          var data = response.data
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: data.message,
            showConfirmButton: false,
            timer: 3000
          })
          this.$router.go(this.$router.currentRoute)
        }).catch(error => {
          var message = 'El producto no pudo ser registrado, intentalo de nuevo mas tarde'
          if (error.data && error.data.message) {
            message = error.data.message
          }

          this.dialog = false
          this.$swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: message,
            showConfirmButton: false,
            timer: 3000
          })
        })
    }
  }
}
</script>