<template>
    <v-app id="inspire">

        <v-navigation-drawer
            color="blue"
            expand-on-hover
            rail
        >
            <v-list>
                <v-list-item
                    prepend-icon="mdi-account-circle"
                    :title="user.name"
                    :subtitle="user.email"
                >
                </v-list-item>
            </v-list>

            <v-divider></v-divider>

            <v-list density="compact" nav>
                <v-list-item :to="{ name: 'user.index' }" prepend-icon="mdi-account" title="Usuarios" value="users"></v-list-item>
                <v-list-item :to="{ name: 'product.index' }" prepend-icon="mdi-store" title="Productos" value="products"></v-list-item>
                <v-list-item :to="{ name: 'order.index' }" prepend-icon="mdi-file-document-edit" title="Ordenes" value="orders"></v-list-item>
            </v-list>

            <v-list density="compact" nav>
                <v-list-item prepend-icon="mdi-logout" title="Cerrar sesión" value="logout" @click="logout"></v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar color="primary">
            <v-app-bar-title>CIMA Group</v-app-bar-title>
        </v-app-bar>

        <v-main>
            <v-container>
                <router-view :key="$route.fullPath"/>
            </v-container>
        </v-main>

        <v-footer border class="d-flex flex-column">
            <div class="px-4 py-2 bg-primary text-center w-100">
                <p><strong> Desarrollado por Brian Florian Peralta </strong></p>
                <p><strong>Correo electronico: <a href="mailto:brianflorianp@gmail.com">brianflorianp@gmail.com</a></strong></p>
            </div>
        </v-footer>
    </v-app>
</template>

<script>
import {mapState} from "vuex";
import Navigator from '../componentes/Navigator';

export default {
    name: "AuthLayout",
    components: {
        Navigator
    },
    computed: mapState(['user']),
    data() {
        return {
            drawer: false,
            drawSettings: true
        }
    },
    methods: {
        logout: function () {
            this.$store.dispatch("destroyToken").then(response => {
                this.$router.push({ name: "login" });
            });
        }
    }
}
</script>

<style scoped>

</style>